---

---

<footer>
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="lg:grid lg:grid-cols-2">
      <div
        class="border-b border-gray-100 py-8 lg:order-last lg:border-b-0 lg:border-s lg:py-16 lg:ps-16"
      >
        <div class="mt-8 space-y-4 lg:mt-0">
          <span class="hidden h-1 w-10 rounded bg-teal-500 lg:block"></span>

          <div>
            <h2 class="text-2xl font-medium">Newsletter</h2>

            <p class="mt-4 max-w-lg">
              Para tener siempre nuestras novidades suscribete a nuestro
              servicio de newsletter. Además podrás recibir cupones y otras
              promociones futuras.
            </p>
          </div>

          <form class="mt-6 w-full">
            <label for="UserEmail" class="sr-only"> Email </label>

            <div
              class="rounded-md border border-gray-100 p-2 focus-within:ring sm:flex sm:items-center sm:gap-4"
            >
              <input
                type="email"
                id="UserEmail"
                placeholder="tu@email.com"
                class="w-full border-none focus:border-transparent focus:ring-transparent sm:text-sm bg-white"
              />

              <button
                class="flex-row justify-center cursor-pointer bg-teal-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-90 hover:opacity-100 text-2xl"
              >
                Suscribete
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="py-8 lg:py-16 lg:pe-16">
        <div class="mt-8 grid grid-cols-1 gap-8 sm:grid-cols-3">
          <div>
            <p class="font-medium">Servicios</p>

            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a
                  title="desarrollo web"
                  href="/servicios/webdesarrollo"
                  class="transition hover:opacity-75"
                >
                  Desarrollo Web
                </a>
              </li>

              <li>
                <a
                  title="redes sociales"
                  href="/servicios/redessociales"
                  class="transition hover:opacity-75"
                >
                  Redes Sociales
                </a>
              </li>

              <li>
                <a
                  title="redacción de copy y blogs"
                  href="/servicios/redaccioncopyblogs"
                  class="transition hover:opacity-75"
                >
                  Redacción de Copy y Blogs
                </a>
              </li>

              <li>
                <a
                  title="SEO"
                  href="/servicios/seo"
                  class="transition hover:opacity-75"
                >
                  SEO
                </a>
              </li>

              <li>
                <a
                  title="Google ads"
                  href="/servicios/googleads"
                  class="transition hover:opacity-75"
                >
                  Google Ads
                </a>
              </li>
              <li>
                <a
                  title="networking de profesionales"
                  href="/servicios/networkingprofesionales"
                  class="transition hover:opacity-75"
                >
                  Networking de Profesionales
                </a>
              </li>
            </ul>
          </div>

          <div>
            <p class="font-medium">Empresa</p>

            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a title="sobre" href="#" class="transition hover:opacity-75">
                  Sobre
                </a>
              </li>

              <li>
                <a
                  title="conozca nuestro equipo"
                  href="#"
                  class="transition hover:opacity-75"
                >
                  Conozca nuestro equipo
                </a>
              </li>
            </ul>
          </div>

          <div>
            <p class="font-medium">Links de Interés</p>

            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a
                  title="contacto"
                  href="#"
                  class="transition hover:opacity-75"
                >
                  Contacto
                </a>
              </li>

              <li>
                <a
                  title="preguntas frequentes"
                  href="#"
                  class="transition hover:opacity-75"
                >
                  Preguntas Frequentes
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="mt-8 border-t border-gray-100 pt-8">
          <ul class="flex flex-wrap gap-4 text-xs">
            <li>
              <a
                title="terminos y condiciones"
                href="#"
                class="transition hover:opacity-75"
              >
                Terminos y Condiciones
              </a>
            </li>

            <li>
              <a
                title="politica de privacidad"
                href="#"
                class="transition hover:opacity-75"
              >
                Politica de Privacidad
              </a>
            </li>

            <li>
              <a
                title="politica de cookies"
                href="#"
                class="transition hover:opacity-75"
              >
                Politica de Cookies
              </a>
            </li>
          </ul>

          <p class="mt-8 text-xs">
            &copy; 2024. Gustavo Iago. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
