---

---

<header
  class="bg-gradient-to-r from-blue-900 to-blue-500 py-8 px-4 mx-auto max-w-7xl lg:py-16 lg:px-8 rounded-lg shadow-lg"
>
  <div class="mx-auto mb-8 lg:mb-16 text-center">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      ANNOUNCEME
    </h2>
  </div>

  <nav
    class="flex flex-col items-center justify-center w-full text-center md:flex-row md:justify-around"
  >
    <a
      title="inicio"
      class="text-white hover:text-gray-300 transition-colors duration-300 mx-4 py-2 text-xl"
      href="/">Inicio</a
    >
    <div class="relative group">
      <a
        title="servicios"
        class="text-white hover:text-gray-300 transition-colors duration-300 mx-4 py-2 cursor-pointer text-xl"
      >
        Servicios
      </a>
      <div
        class="absolute left-0 hidden mt-2 w-48 bg-white rounded-md shadow-lg group-hover:block"
      >
        <a
          title="desarrollo web"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-200"
          href="#">Desarrollo web</a
        >
        <a
          title="redes sociales"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-200"
          href="#">Redes sociales</a
        >
        <a
          title="redaccion de copy y blogs"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-200"
          href="#">Redacción de copy y blogs</a
        >
        <a
          title="SEO"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-200"
          href="#">SEO</a
        >
        <a
          title="Google ads"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-200"
          href="#">Google Ads</a
        >
        <a
          title="networking de profesionales"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-200"
          href="#">Networking de profesionales</a
        >
      </div>
    </div>
    <a
      title="contacto"
      class="text-white hover:text-gray-300 transition-colors duration-300 mx-4 py-2 text-xl"
      href="#">Contacto</a
    >
  </nav>
</header>
