---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen pb-12">
    <Header />
    <main class="mx-auto max-w-7xl px-4 lg:px-8 mt-12">
      <slot />
    </main>
    <Footer />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const themeToggle = document.getElementById(
          "theme-toggle"
        ) as HTMLInputElement | null;
        const htmlElement = document.documentElement;
        const lightIcon = document.getElementById("theme-toggle-light-icon");
        const darkIcon = document.getElementById("theme-toggle-dark-icon");

        function updateThemeIcons() {
          if (htmlElement.classList.contains("dark")) {
            lightIcon?.classList.add("hidden");
            darkIcon?.classList.remove("hidden");
          } else {
            lightIcon?.classList.remove("hidden");
            darkIcon?.classList.add("hidden");
          }
        }

        if (
          localStorage.getItem("theme") === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          htmlElement.classList.add("dark");
          if (themeToggle) themeToggle.checked = true;
        } else {
          htmlElement.classList.add("light");
          if (themeToggle) themeToggle.checked = false;
        }
        updateThemeIcons();

        themeToggle?.addEventListener("change", function () {
          if (htmlElement.classList.contains("dark")) {
            htmlElement.classList.remove("dark");
            htmlElement.classList.add("light");
            localStorage.setItem("theme", "light");
          } else {
            htmlElement.classList.remove("light");
            htmlElement.classList.add("dark");
            localStorage.setItem("theme", "dark");
          }
          updateThemeIcons();
        });
      });
    </script>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: var(--background);
    background-size: 224px;
    color-scheme: dark light;
    color: var(--text-color);
  }

  html.light {
    --background: #fefefe;
    --text-color: #000000;
  }

  html.dark {
    --background: #1a202c;
    --text-color: #fefefe;
  }
</style>
